{% extends 'polls/base.html' %}


{% block title %}{{question.question_text}}{% endblock title %}

{% block title_page %}Detail Page{% endblock title_page %}


{% block content %}

    <h4 class="text-primary">{{question.question_text|upper}}</h4>
    


<br>


<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
       
        {% if error_message %}
        <div class="alert alert-danger">
        <strong>{{ error_message }}</strong>
        </div>
        {% endif %}

        {% if success_message %}
        <div class="alert alert-success">
        <strong>{{ success_message }}</strong>
        </div>
        {% endif %}

        


        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <br>


    <input type="submit" value="Vote" class="btn btn-primary">
    <a href="{% url 'polls:results' question.id %}" class="btn btn-success">Veiw Results</a>
    </form>

    

    {% endblock content %}

